@charset "UTF-8";

@media(max-width:767px){
    *{margin: 0 ; padding: 0; font-size: 8px; font-family: 'locus_sangsang';}
    ul,li,ol{list-style: none;}
    a{text-decoration: none;}

    #wrap {width: 100%;margin: 0 auto;}
    section {width: 90%; height: auto; margin: 120px auto; display: flex; flex-direction: row; justify-content: space-around }
   
         /*오른쪽 섹션*/
    #right {width: 75%; height: auto; }
    #right .sec1 {background-image:url(../img/blueconer_03.png); position: relative; width: 100%;height: 200px; background-size:cover; 
        background-repeat: no-repeat; background-position: center; margin-bottom: 2rem;}
        #right i {font-size: 1.5rem; color: coral;}
        #right .sec1:hover {background-size: 120%;}
        #right > .sec1 > h1 {position:absolute; top: 35%; left: 8%;text-align: center; font-size: 3rem; color: white;
            text-shadow: 4px 4px 5px rgb(44, 54, 110)}
        #right p {font-size: 1.5rem; line-height: 2rem; color: gray; margin-bottom: 1rem;text-shadow: 4px 4px 5px #ddd; padding: 0 2rem;}
        
        #right > div > form {margin: 2rem; width: 90%;}
        #right .name {width: 42%; border: 1px solid #ddd; padding: 0.5rem;}
        #right #mail {width: 92%; border: 1px solid #ddd; padding: 0.5rem;}
        #right #tel {width: 92%; border: 1px solid #ddd; padding: 0.5rem;}
        #right #sanka {width: 98%; border: 1px solid #ddd; padding: 0.5rem;}
        #right #sanka_02 {width: 98%; border: 1px solid #ddd; padding: 0.5rem;}
        #right .date {width: 42%; border: 1px solid #ddd; padding: 0.5rem;}
        #right #message {width: 93%; border: 1px solid #ddd; padding: 0.5rem;}
        #right .submit {width: 77%; border: 1px solid #ddd; padding: 0.5rem; margin: 0 2rem; font-size: 1.5rem; 
            color: white; background-color: coral; border-radius: 5px; text-align: center; box-shadow: 5px 5px 20px rgba(92, 86, 85, 0.2);}
        #right .submit:hover {background-color: #434343; color: white;}
}
@media(min-width:768px){
    *{margin: 0 ; padding: 0; font-size: 12px; font-family: 'locus_sangsang';}
    ul,li,ol{list-style: none;}
    a{text-decoration: none;}

    #wrap {width: 100%;margin: 0 auto;}
    section {width: 90%; height: auto; margin: 120px auto; display: flex; flex-direction: row; justify-content:center;}
   
     /*오른쪽 섹션*/
     #right {width: 75%; height: auto; }
     #right .sec1 {background-image:url(../img/blueconer_03.png); position: relative; width: 100%;height: 200px; background-size:cover; 
         background-repeat: no-repeat; background-position: center; margin-bottom: 2rem;}
         #right i {font-size: 1.5rem; color: coral;}
         #right .sec1:hover {background-size: 120%;}
         #right > .sec1 > h1 {position:absolute; top: 35%; left: 10%;text-align: center; font-size: 3rem; color: white;
             text-shadow: 4px 4px 5px rgb(44, 54, 110)}
         #right p {font-size: 1.5rem; line-height: 2rem; color: gray; margin-bottom: 1rem;text-shadow: 4px 4px 5px #ddd; padding: 0 2rem;}
         
         #right > div > form {margin: 2rem; width: 90%;}
         #right .name {width: 45%; border: 1px solid #ddd; padding: 0.5rem;}
         #right #mail {width: 95%; border: 1px solid #ddd; padding: 0.5rem;}
         #right #tel {width: 95%; border: 1px solid #ddd; padding: 0.5rem;}
         #right #sanka {width: 98%; border: 1px solid #ddd; padding: 0.5rem;}
         #right #sanka_02 {width: 98%; border: 1px solid #ddd; padding: 0.5rem;}
         #right .date {width: 45%; border: 1px solid #ddd; padding: 0.5rem;}
         #right #message {width: 95%; border: 1px solid #ddd; padding: 0.5rem;}
         #right .submit {width: 86%; border: 1px solid #ddd; padding: 0.5rem; margin: 0 2rem; font-size: 1.5rem; 
             color: white; background-color: coral; border-radius: 5px; text-align: center; box-shadow: 5px 5px 20px rgba(92, 86, 85, 0.2);}
         #right .submit:hover {background-color: #434343; color: white;}
}
@media(min-width:1200px){
    *{margin: 0 ; padding: 0; font-size: 16px; font-family: 'locus_sangsang';}
    ul,li,ol{list-style: none;}
    a{text-decoration: none;}

    #wrap {width: 100%;margin: 0 auto;}
    section {width: 90%; height: auto; margin: 120px auto; display: flex; flex-direction: row; justify-content: center }
        
        
        /*오른쪽 섹션*/
    #right {width: 75%; height: auto; }
        #right .sec1 {background-image:url(../img/blueconer_03.png); position: relative; width: 100%;height: 200px; background-size:cover; 
            background-repeat: no-repeat; background-position: center; margin-bottom: 2rem;}
            /* #right .sec1 {transform: translateX(-100px); transition: all 3s; opacity: 100;} */
            #right i {font-size: 1.5rem; color: coral;}
            #right .sec1:hover {background-size: 110%;}
            #right > .sec1 > h1 {position:absolute; top: 35%; left: 30%;text-align: center; font-size: 3rem; color: white;
                text-shadow: 4px 4px 5px rgb(44, 54, 110)}
            #right p {font-size: 1.5rem; line-height: 2rem; color: gray; margin-bottom: 1rem;text-shadow: 4px 4px 5px #ddd; padding: 0 2rem;}
            
            #right > div > form {margin: 2rem; width: 90%;}
            #right .name {width: 30%; border: 1px solid #ddd; padding: 0.5rem;}
            #right #mail {width: 62%; border: 1px solid #ddd; padding: 0.5rem;}
            #right #tel {width: 62%; border: 1px solid #ddd; padding: 0.5rem;}
            #right #sanka {width: 64%; border: 1px solid #ddd; padding: 0.5rem;}
            #right #sanka_02 {width: 64%; border: 1px solid #ddd; padding: 0.5rem;}
            #right .date {width: 30%; border: 1px solid #ddd; padding: 0.5rem;}
            #right #message {width: 62%; border: 1px solid #ddd; padding: 0.5rem;}
            #right .submit {width: 59%; border: 1px solid #ddd; padding: 0.5rem; margin: 0 2rem; font-size: 1.5rem; 
                color: white; background-color: coral; border-radius: 5px; text-align: center; box-shadow: 5px 5px 20px rgba(92, 86, 85, 0.2);}
            #right .submit:hover {background-color: #434343; color: white;}
}
            
        
        
        

        