@charset "UTF-8";

@media(max-width:767px){
    *{margin: 0 ; padding: 0; font-size: 8px; font-family: 'locus_sangsang';}
    ul,li,ol{list-style: none;}
    a{text-decoration: none;}

    #wrap {width: 100%;margin: 0 auto;}
    section {width: 90%; height: auto; margin: 120px auto; display: flex; flex-direction: row; justify-content: space-between }
   
        /*오른쪽 섹션*/
    #right {width: 75%; height: auto;}
        .block {position: relative; width: 100%;height: auto; margin-bottom: 2rem; padding: 0 0 8px 0;}
            .block > h1 {text-shadow: 4px 4px 5px #ddd; margin-bottom: 3rem; font-size: 2rem; text-align: center; color: coral;}
            .block > p {text-shadow: 4px 4px 5px #ddd; margin-bottom: 3rem; font-size: 1.5rem; line-height: 2rem; text-align: center; color: darkgray;}
            .block > p > span > a {font-size: 1.5rem; font-style: italic; color:coral; text-shadow: 4px 4px 5px #ddd;}
        
        .block > .layout_box1 {margin: 0 0 20px 0; display: flex; flex-direction: column;align-items: center;
                justify-content: space-between;}
            #kaiten {transform: translateY(-200px); transition: all 2s; opacity: 0;}
            .block > .layout_box1 > article {display: flex;flex-direction: column;justify-content: center; width: 90%;height: auto; margin: 1.6rem 0; padding: 1.6% 1.6%; 
                background-color: white; position: relative; box-shadow: 5px 5px 20px rgba(92, 86, 85, 0.2) }
            .block > .layout_box1 > article {transform: translateY(200px); transition: all 2s; opacity: 0;}
            .block > .layout_box1 article .rei > img {width:15% ; position: absolute; top: -22px; right: 5%; z-index: 100;
                box-shadow: 5px 5px #ddd; }
            .block > .layout_box1 article a {height: auto; text-decoration: none; color: white;}
            .block > .layout_box1 article a > h3:hover {color: coral;}
            .block > .layout_box1 article a > .umi {width:100%; height:auto; overflow: hidden; font-weight: normal; }
            .block > .layout_box1 article a > h3 {letter-spacing:0.1rem ; color:darkgray; overflow: hidden; width: 100%;  text-align: left; 
                line-height: 1.5rem; margin: 1rem 0 4rem 0;}
            .block > .layout_box1 article a > .umi > img {width: 100%; transition: all 0.2s linear;}
            .block > .layout_box1 article a > .umi > img:hover {transform: scale(1.4);}
            .block > .layout_box1 article > button{width: 90%; height: 3rem; line-height: 2rem; text-align: center; background-color: coral; 
                border-radius: 5px; border: none; text-decoration: none; position: absolute; bottom: 1rem; left: 50%; transform: translateX(-50%);
                box-shadow: 5px 5px 20px rgba(92, 86, 85, 0.2); color: white;}
            .block > .layout_box1 article > button:hover{background-color: #434343;cursor: pointer;}
            .block > p > strong{font-size: 2rem; color: coral;} 
                
        #notice > ul{display: flex; flex-direction: row; flex-flow: row wrap; 
                justify-content: space-between; padding: 0.2rem;}
            .s1 {transform: translateY(300px); transition: all 2s; opacity: 0;}
            #notice > ul > li {width: 49%; height: 3rem; margin: 1% 0 1% 0; text-align: center; line-height: 3rem; 
                background-color: coral; border-radius: 5px; color: white; cursor: pointer; box-shadow: 5px 5px 20px rgba(92, 86, 85, 0.2)}
            #notice > ul > .tab_menu{background-color: coral;}
            #notice > ul > li:hover {background-color: #434343;}
            #notice > .tab_list{margin: 0; padding: 0.6rem;}
            #notice > ul > .port_back {background-color: white; color: coral;}
            #notice > .tab_list > .tab_sub {display: block; display: none; box-shadow: 5px 5px 20px rgba(92, 86, 85, 0.2); border-radius: 10px;color: darkgray;}
            #notice > .tab_list > .tab_sub > p {padding: 0.8rem; text-align: justify; font-size: 1.2rem;}
        
        .photo_list {display: flex; flex-direction: row; flex-flow: row wrap;justify-content: space-between; align-content: space-around; 
                justify-content: space-between;}
            .s2 {transform: translateY(100px); transition: all 3s; opacity: 0;}
            .photo_list > li {width: 49%;height:auto ; margin: 0.5% 0 0.8% 0; overflow: hidden; position: relative;box-shadow: 5px 5px 20px rgba(92, 86, 85, 0.2);
                border-radius: 5px;}
            .photo_list > li > a > .anibox {width: 90%; height: 3.6rem; background-color:white;border-radius: 10px ;position: absolute; 
                text-align: center; line-height:1.2rem; color: coral; opacity: 0.8; top:66%; left: 50%;
                transform: translateX(-50%); display: none; font-size: 1rem;}
            .photo_list > li > a > img {width: 100%;height: 100%; transition: all 0.2s linear;}
            .photo_list > li > a > img:hover {transform: scale(1.4);}

        .palau_map {height: auto; display: flex; flex-direction:row;flex-wrap: wrap;}
            .s3 {transform: translateY(-100px); transition: all 2s; opacity: 0;}
        .palau_map .palau_map_left{width: 98%; background-image: url(../img/palaumap.jpg); background-position:center; background-repeat: no-repeat; background-size: contain;
                position: relative; padding: 1rem;}
        .palau_map .palau_map_left > ul {width: 100%; height: 400px; position: relative;}
        .palau_map .palau_map_left > ul > li {position: absolute; opacity: 0.5;}
        .palau_map .palau_map_left > ul > li:hover {opacity: 1; color: coral;}
            .palau_map .palau_map_left > ul > li:nth-child(1) {position: absolute; top:3%; left: 90%;}
            .palau_map .palau_map_left > ul > li:nth-child(2) {position: absolute; top:5%; left: 43%;}
            .palau_map .palau_map_left > ul > li:nth-child(3) {position: absolute; top: 15%; left: 35%;}
            .palau_map .palau_map_left > ul > li:nth-child(4) {position: absolute; top: 21%; left: 42%;}
            .palau_map .palau_map_left > ul > li:nth-child(5) {position: absolute; top: 26%; left: 70%;}
            .palau_map .palau_map_left > ul > li:nth-child(6) {position: absolute; top: 40%; left: 12%;}
            .palau_map .palau_map_left > ul > li:nth-child(7) {position: absolute; top: 40%; left: 64%;}
            .palau_map .palau_map_left > ul > li:nth-child(8) {position: absolute; top: 54%; left: 44%;}
            .palau_map .palau_map_left > ul > li:nth-child(9) {position: absolute; top: 63%; left: 40%;}
            .palau_map .palau_map_left > ul > li:nth-child(10) {position: absolute; top: 72%; left: 22%;}
            .palau_map .palau_map_left > ul > li:nth-child(11) {position: absolute; top: 72%; left: 0%;}

        .palau_map .palau_map_right{width: 98%;height: 300px; padding: 1rem; box-shadow: 5px 5px 20px rgba(92, 86, 85, 0.2);
                border-radius: 5px; position: relative;}
            .palau_map .palau_map_right > .bg {width: 100%; height: 100%;  background-image: url(../img/simapalau.jpg); background-size: cover; background-position: center;}
            .palau_map .palau_map_right > .text_01 {width: 60%; height: 80%; position: absolute;top:-10%; left: 50%; transform: translate(-50%); color: white; text-align: justify;
                padding: 0 1rem; opacity: 0;}
            .palau_map .palau_map_right > .text_02 {width: 60%; height: 80%; position: absolute;top:-10%; left: 50%; transform: translate(-50%); color: white; text-align: justify;
                padding: 0 1rem; opacity: 0;}
            .palau_map .palau_map_right > .text_03 {width: 60%; height: 80%; position: absolute;top:-10%; left: 50%; transform: translate(-50%); color: white; text-align: justify;
                padding: 0 1rem; opacity: 0;}
            .palau_map .palau_map_right > .text_03 {width: 60%; height: 80%; position: absolute;top:-10%; left: 50%; transform: translate(-50%); color: white; text-align: justify;
                padding: 0 1rem; opacity: 0;}
            .palau_map .palau_map_right > .text_04 {width: 60%; height: 80%; position: absolute;top:-10%; left: 50%; transform: translate(-50%); color: white; text-align: justify;
                padding: 0 1rem; opacity: 0;}
            .palau_map .palau_map_right > .text_05 {width: 60%; height: 80%; position: absolute;top:-10%; left: 50%; transform: translate(-50%); color: white; text-align: justify;
                padding: 0 1rem; opacity: 0;}
            .palau_map .palau_map_right > .text_06 {width: 60%; height: 80%; position: absolute;top:-10%; left: 50%; transform: translate(-50%); color: white; text-align: justify;
                padding: 0 1rem; opacity: 0;}
            .palau_map .palau_map_right > .text_07 {width: 60%; height: 80%; position: absolute;top:-10%; left: 50%; transform: translate(-50%); color: white; text-align: justify;
                padding: 0 1rem; opacity: 0;}
            .palau_map .palau_map_right > .text_08 {width: 60%; height: 80%; position: absolute;top:-10%; left: 50%; transform: translate(-50%); color: white; text-align: justify;
                padding: 0 1rem; opacity: 0;}
            .palau_map .palau_map_right > .text_09 {width: 60%; height: 80%; position: absolute;top:-10%; left: 50%; transform: translate(-50%); color: white; text-align: justify;
                padding: 0 1rem; opacity: 0;}
            .palau_map .palau_map_right > .text_10 {width: 60%; height: 80%; position: absolute;top:-10%; left: 50%; transform: translate(-50%); color: white; text-align: justify;
                padding: 0 1rem; opacity: 0;}
            .palau_map .palau_map_right > .text_11 {width: 60%; height: 80%; position: absolute;top:-10%; left: 50%; transform: translate(-50%); color: white; text-align: justify;
                padding: 0 1rem; opacity: 0;}}

@media(min-width:768px){
    *{margin: 0 ; padding: 0; font-size: 12px; font-family: 'locus_sangsang';}
    ul,li,ol{list-style: none;}
    a{text-decoration: none;}

    #wrap {width: 100%;margin: 0 auto;}
    section {width: 90%; height: auto; margin: 120px auto; display: flex; flex-direction: row; justify-content: center }
   
        /*오른쪽 섹션*/
    #right {width: 75%; height: auto; }
        .block {position: relative; width: 100%;height: auto; margin-bottom: 2rem; padding: 0 0 8px 0;}
            .block > h1 {text-shadow: 4px 4px 5px #ddd; margin-bottom: 3rem; font-size: 2rem; text-align: center; color: coral;}
            .block > p {text-shadow: 4px 4px 5px #ddd; margin-bottom: 3rem; font-size: 1.5rem; line-height: 2rem; text-align: center; color: darkgray;}
            .block > p > span > a {font-size: 1.5rem; font-style: italic; color:coral; text-shadow: 4px 4px 5px #ddd;}
        
        .block > .layout_box1 {margin: 0 0 20px 0; display: flex; flex-direction: row;
                justify-content: space-evenly;}
            #kaiten {transform: translateY(-200px); transition: all 2s; opacity: 0;}
            .block > .layout_box1 > article {display: flex;flex-direction: column; width: 28.8%;height: auto; margin: 0 ; padding: 1.6% 1.6%; 
                background-color: white; position: relative; box-shadow: 5px 5px 20px rgba(92, 86, 85, 0.2) }
            .block > .layout_box1 > article {transform: translateY(200px); transition: all 2s; opacity: 0;}
            .block > .layout_box1 article .rei > img {position: absolute; top: -22px; right: 5%; z-index: 100;
                box-shadow: 5px 5px #ddd; }
            .block > .layout_box1 article a {height: auto; text-decoration: none; color: white;}
            .block > .layout_box1 article a > h3:hover {color: coral;}
            .block > .layout_box1 article a > .umi {width:100%; height:auto; overflow: hidden; font-weight: normal; }
            .block > .layout_box1 article a > h3 {color:darkgray; overflow: hidden; width: 100%;  
                text-align: left; line-height: 1.2rem; margin: 1rem 0 4rem 0;}
            .block > .layout_box1 article a > .umi > img {width: 100%; transition: all 0.2s linear;}
            .block > .layout_box1 article a > .umi > img:hover {transform: scale(1.4);}
            .block > .layout_box1 article > button{width: 90%; height: 3rem; line-height: 2rem; text-align: center; background-color: coral; 
                border-radius: 5px; border: none; text-decoration: none; position: absolute; bottom: 1.5rem; left: 50%; transform: translateX(-50%);
                box-shadow: 5px 5px 20px rgba(92, 86, 85, 0.2); color: white;}
            .block > .layout_box1 article > button:hover{background-color: #434343;cursor: pointer;}
            .block > p > strong{font-size: 2rem; color: coral;} 
                
        #notice > ul{display: flex; flex-direction: row; flex-flow: row wrap; 
                justify-content: space-between; padding: 0.2rem;}
            .s1 {transform: translateY(300px); transition: all 2s; opacity: 0;}
            #notice > ul > li{width: 33%; height: 3rem; margin: 0.5% 0 0.5% 0; text-align: center; line-height: 3rem; 
                background-color: coral; border-radius: 10px; color: white; cursor: pointer; box-shadow: 5px 5px 20px rgba(92, 86, 85, 0.2)}
            #notice > ul > li:hover {background-color: #434343;}
            #notice > .tab_list{margin: 0; padding: 0.6rem;}
            #notice > ul > .port_back {background-color: white; color: coral;}
            #notice > .tab_list > .tab_sub {display: block; display: none; box-shadow: 5px 5px 20px rgba(92, 86, 85, 0.2); border-radius: 10px;color: darkgray;}
            #notice > .tab_list > .tab_sub > p {padding: 0.8rem; text-align: justify; font-size: 1.2rem;}
        
        .photo_list {display: flex; flex-direction: row; flex-flow: row wrap;align-content: space-around; 
                justify-content: space-evenly;}
            .s2 {transform: translateY(100px); transition: all 3s; opacity: 0;}
            .photo_list > li {width: 32%;height:auto ; margin: 0.5% 0 0.8% 0; overflow: hidden; position: relative;box-shadow: 5px 5px 20px rgba(92, 86, 85, 0.2);
                border-radius: 5px;}
            .photo_list > li > a > .anibox {width: 90%; height: auto; background-color:white;border-radius: 10px ;position: absolute; 
                text-align: center; line-height:1rem; color: coral; opacity: 0.8; top:70%; left: 50%;
                transform: translateX(-50%); display: none; font-size: 1rem;}
            .photo_list > li > a > img {width: 100%;height: 100%; transition: all 0.2s linear;}
            .photo_list > li > a > img:hover {transform: scale(1.4);}

        .palau_map {height: auto; display: flex; flex-direction: row;flex-wrap: wrap;}
            .s3 {transform: translateY(-100px); transition: all 2s; opacity: 0;}
        .palau_map .palau_map_left{width: 98%; background-image: url(../img/palaumap.jpg); background-position:center; background-repeat: no-repeat; background-size: contain;
                position: relative; padding: 1rem;}
        .palau_map .palau_map_left > ul {width: 100%; height: 400px; position: relative;}
        .palau_map .palau_map_left > ul > li {position: absolute; opacity: 0.5;}
        .palau_map .palau_map_left > ul > li:hover {opacity: 1; color: coral;}
        .palau_map .palau_map_left > ul > li:nth-child(1) {position: absolute; top:0%; left: 77%;}
        .palau_map .palau_map_left > ul > li:nth-child(2) {position: absolute; top:1%; left: 48%;}
        .palau_map .palau_map_left > ul > li:nth-child(3) {position: absolute; top: 12%; left: 38%;}
        .palau_map .palau_map_left > ul > li:nth-child(4) {position: absolute; top: 18%; left: 43%;}
        .palau_map .palau_map_left > ul > li:nth-child(5) {position: absolute; top: 25%; left: 65%;}
        .palau_map .palau_map_left > ul > li:nth-child(6) {position: absolute; top: 41%; left: 28%;}
        .palau_map .palau_map_left > ul > li:nth-child(7) {position: absolute; top: 41%; left: 57%;}
        .palau_map .palau_map_left > ul > li:nth-child(8) {position: absolute; top: 53%; left: 47%;}
        .palau_map .palau_map_left > ul > li:nth-child(9) {position: absolute; top: 65%; left: 42%;}
        .palau_map .palau_map_left > ul > li:nth-child(10) {position: absolute; top: 72%; left: 32%;}
        .palau_map .palau_map_left > ul > li:nth-child(11) {position: absolute; top: 72%; left: 16%;}

        .palau_map .palau_map_right{width: 98%; height: 300px; padding: 1rem; box-shadow: 5px 5px 20px rgba(92, 86, 85, 0.2);
                border-radius: 5px; position: relative;}
            .palau_map .palau_map_right > .bg {width: 100%; height: 100%;  background-image: url(../img/simapalau.jpg); background-size: cover; background-position: center;}
            .palau_map .palau_map_right > .text_01 {width: 60%; height: 80%; position: absolute;top:-10%; left: 50%; transform: translate(-50%); color: white; text-align: justify;
                padding: 0 1rem; opacity: 0;}
            .palau_map .palau_map_right > .text_02 {width: 60%; height: 80%; position: absolute;top:-10%; left: 50%; transform: translate(-50%); color: white; text-align: justify;
                padding: 0 1rem; opacity: 0;}
            .palau_map .palau_map_right > .text_03 {width: 60%; height: 80%; position: absolute;top:-10%; left: 50%; transform: translate(-50%); color: white; text-align: justify;
                padding: 0 1rem; opacity: 0;}
            .palau_map .palau_map_right > .text_03 {width: 60%; height: 80%; position: absolute;top:-10%; left: 50%; transform: translate(-50%); color: white; text-align: justify;
                padding: 0 1rem; opacity: 0;}
            .palau_map .palau_map_right > .text_04 {width: 60%; height: 80%; position: absolute;top:-10%; left: 50%; transform: translate(-50%); color: white; text-align: justify;
                padding: 0 1rem; opacity: 0;}
            .palau_map .palau_map_right > .text_05 {width: 60%; height: 80%; position: absolute;top:-10%; left: 50%; transform: translate(-50%); color: white; text-align: justify;
                padding: 0 1rem; opacity: 0;}
            .palau_map .palau_map_right > .text_06 {width: 60%; height: 80%; position: absolute;top:-10%; left: 50%; transform: translate(-50%); color: white; text-align: justify;
                padding: 0 1rem; opacity: 0;}
            .palau_map .palau_map_right > .text_07 {width: 60%; height: 80%; position: absolute;top:-10%; left: 50%; transform: translate(-50%); color: white; text-align: justify;
                padding: 0 1rem; opacity: 0;}
            .palau_map .palau_map_right > .text_08 {width: 60%; height: 80%; position: absolute;top:-10%; left: 50%; transform: translate(-50%); color: white; text-align: justify;
                padding: 0 1rem; opacity: 0;}
            .palau_map .palau_map_right > .text_09 {width: 60%; height: 80%; position: absolute;top:-10%; left: 50%; transform: translate(-50%); color: white; text-align: justify;
                padding: 0 1rem; opacity: 0;}
            .palau_map .palau_map_right > .text_10 {width: 60%; height: 80%; position: absolute;top:-10%; left: 50%; transform: translate(-50%); color: white; text-align: justify;
                padding: 0 1rem; opacity: 0;}
            .palau_map .palau_map_right > .text_11 {width: 60%; height: 80%; position: absolute;top:-10%; left: 50%; transform: translate(-50%); color: white; text-align: justify;
                padding: 0 1rem; opacity: 0;}}

 @media(min-width:1200px){
    *{margin: 0 ; padding: 0; font-size: 16px; font-family: 'locus_sangsang';}
    ul,li,ol{list-style: none;}
    a{text-decoration: none;}

    #wrap {width: 100%;margin: 0 auto;}
    section {width: 90%; height: auto; margin: 120px auto; display: flex; flex-direction: row; justify-content: center }
   
        /*오른쪽 섹션*/
    #right {width: 75%; height: auto; }
        .block {position: relative; width: 100%;height: auto; margin-bottom: 2rem; padding: 0 0 8px 0;}
            .block > h1 {text-shadow: 4px 4px 5px #ddd; margin-bottom: 3rem; font-size: 2rem; text-align: center; color: coral;}
            .block > p {text-shadow: 4px 4px 5px #ddd; margin-bottom: 3rem; font-size: 1.5rem; line-height: 2rem; text-align: center; color: darkgray;}
            .block > p > span > a {font-size: 1.5rem; font-style: italic; color:coral; text-shadow: 4px 4px 5px #ddd;}
        
        .block > .layout_box1 {margin: 0 0 20px 0; display: flex; flex-direction: row;
                justify-content: space-evenly;}
            #kaiten {transform: translateY(-200px); transition: all 2s; opacity: 0;}
            .block > .layout_box1 > article {display: flex;flex-direction: column; width: 28.8%;height: auto; margin: 0 ; padding: 1.6% 1.6%; 
                background-color: white; position: relative; box-shadow: 5px 5px 20px rgba(92, 86, 85, 0.2) }
            .block > .layout_box1 > article {transform: translateY(200px); transition: all 2s; opacity: 0;}
            .block > .layout_box1 article .rei > img {position: absolute; top: -22px; right: 5%; z-index: 100;
                box-shadow: 5px 5px #ddd; }
            /* .block > .layout_box1 article a {height: auto; text-decoration: none; color: white;} */
            .block > .layout_box1 article a > h3:hover {color: coral;}
            .block > .layout_box1 article a > .umi {width:100%; height:216px; overflow: hidden; font-weight: normal; }
            .block > .layout_box1 article a > h3 {color:darkgray; overflow: hidden; width: 100%;  text-align: left; 
                line-height: 1.2rem; margin: 1rem 0 4rem 0;}
            .block > .layout_box1 article a > .umi > img {width: 100%; transition: all 0.2s linear;}
            .block > .layout_box1 article a > .umi > img:hover {transform: scale(1.4);}
            .block > .layout_box1 article > button{width: 90%; height: 3rem; line-height: 2rem; text-align: center; background-color: coral; 
                border-radius: 5px; border: none; text-decoration: none; position: absolute; bottom: 1.5rem; left: 50%; transform: translateX(-50%);
                box-shadow: 5px 5px 20px rgba(92, 86, 85, 0.2); color: white;}
            .block > .layout_box1 article > button:hover{background-color: #434343;cursor: pointer;}
            
                
        #notice > ul{display: flex; flex-direction: row; flex-flow: row wrap; 
                justify-content: space-between; padding: 0.2rem;}
            .s1 {transform: translateY(300px); transition: all 2s; opacity: 0;}
            #notice > ul > li {width: 33%; height: 3rem; margin: 0.5% 0 0.5% 0; text-align: center; line-height: 3rem; 
                background-color: coral; border-radius: 10px; color: white; cursor: pointer; box-shadow: 5px 5px 20px rgba(92, 86, 85, 0.2)}
            #notice > ul > li:hover {background-color: #434343; color: white;}
            #notice > .tab_list{margin: 0; padding: 0.6rem;}
            #notice > ul > .port_back {background-color: white; color: coral;}
            #notice > .tab_list > .tab_sub {display: block; display: none; box-shadow: 5px 5px 20px rgba(92, 86, 85, 0.2); border-radius: 10px;color: darkgray;}
            #notice > .tab_list > .tab_sub > p {padding: 0.8rem; text-align: left; font-size: 1.2rem;}
        
        .photo_list {display: flex; flex-direction: row; flex-flow: row wrap;align-content: space-around; 
                justify-content: space-evenly;}
            .s2 {transform: translateY(100px); transition: all 3s; opacity: 0;}
            .photo_list > li {width: 32%;height:240px ; margin: 0.5% 0 0.8% 0; overflow: hidden; position: relative;box-shadow: 5px 5px 20px rgba(92, 86, 85, 0.2);
                border-radius: 5px;}
            .photo_list > li > a > .anibox {width: 90%; height: auto; background-color:white;border-radius: 10px ;position: absolute; 
                text-align: center; line-height:24px; color: coral; opacity: 0.8; top:70%; left: 50%;
                transform: translateX(-50%); display: none; font-size: 1rem;}
            .photo_list > li > a > img {width: 100%;height: 100%; transition: all 0.2s linear;}
            .photo_list > li > a > img:hover {transform: scale(1.4);}

        .palau_map {height: 600px; display: flex; flex-direction:row; flex-wrap: nowrap; margin-bottom: 2rem;}
            .s3 {transform: translateY(-200px); transition: all 2s; opacity: 0;}
        .palau_map .palau_map_left{width: 60%;height:100%; background-image: url(../img/palaumap.jpg); background-position:center; background-repeat: no-repeat; background-size: contain;
                position: relative; padding: 1rem;}
        .palau_map .palau_map_left > ul {width: 100%;height:100%; position: relative;}
        .palau_map .palau_map_left > ul > li {position: absolute; opacity: 0.5;}
        .palau_map .palau_map_left > ul > li:hover {opacity: 1; color: coral;}
            .palau_map .palau_map_left > ul > li:nth-child(1) {position: absolute; top:0%; left: 77%;}
            .palau_map .palau_map_left > ul > li:nth-child(2) {position: absolute; top:1%; left: 48%;}
            .palau_map .palau_map_left > ul > li:nth-child(3) {position: absolute; top: 12%; left: 38%;}
            .palau_map .palau_map_left > ul > li:nth-child(4) {position: absolute; top: 18%; left: 43%;}
            .palau_map .palau_map_left > ul > li:nth-child(5) {position: absolute; top: 25%; left: 65%;}
            .palau_map .palau_map_left > ul > li:nth-child(6) {position: absolute; top: 41%; left: 28%;}
            .palau_map .palau_map_left > ul > li:nth-child(7) {position: absolute; top: 41%; left: 57%;}
            .palau_map .palau_map_left > ul > li:nth-child(8) {position: absolute; top: 53%; left: 47%;}
            .palau_map .palau_map_left > ul > li:nth-child(9) {position: absolute; top: 65%; left: 42%;}
            .palau_map .palau_map_left > ul > li:nth-child(10) {position: absolute; top: 72%; left: 32%;}
            .palau_map .palau_map_left > ul > li:nth-child(11) {position: absolute; top: 72%; left: 17.6%;}

        .palau_map .palau_map_right{width: 40%; height:100%; padding: 1rem; box-shadow: 5px 5px 20px rgba(92, 86, 85, 0.2);
                border-radius: 5px; position: relative;}
            .palau_map .palau_map_right > .bg {width: 100%; background-image: url(../img/simapalau.jpg); background-size: cover; background-position: center;}
            .palau_map .palau_map_right > .text_01 {width: 60%; height: 80%; position: absolute;top:-10%; left: 50%; transform: translate(-50%); color: white; text-align: justify;
                padding: 0 1rem; opacity: 0;}
            .palau_map .palau_map_right > .text_02 {width: 60%; height: 80%; position: absolute;top:-10%; left: 50%; transform: translate(-50%); color: white; text-align: justify;
                padding: 0 1rem; opacity: 0;}
            .palau_map .palau_map_right > .text_03 {width: 60%; height: 80%; position: absolute;top:-10%; left: 50%; transform: translate(-50%); color: white; text-align: justify;
                padding: 0 1rem; opacity: 0;}
            .palau_map .palau_map_right > .text_03 {width: 60%; height: 80%; position: absolute;top:-10%; left: 50%; transform: translate(-50%); color: white; text-align: justify;
                padding: 0 1rem; opacity: 0;}
            .palau_map .palau_map_right > .text_04 {width: 60%; height: 80%; position: absolute;top:-10%; left: 50%; transform: translate(-50%); color: white; text-align: justify;
                padding: 0 1rem; opacity: 0;}
            .palau_map .palau_map_right > .text_05 {width: 60%; height: 80%; position: absolute;top:-10%; left: 50%; transform: translate(-50%); color: white; text-align: justify;
                padding: 0 1rem; opacity: 0;}
            .palau_map .palau_map_right > .text_06 {width: 60%; height: 80%; position: absolute;top:-10%; left: 50%; transform: translate(-50%); color: white; text-align: justify;
                padding: 0 1rem; opacity: 0;}
            .palau_map .palau_map_right > .text_07 {width: 60%; height: 80%; position: absolute;top:-10%; left: 50%; transform: translate(-50%); color: white; text-align: justify;
                padding: 0 1rem; opacity: 0;}
            .palau_map .palau_map_right > .text_08 {width: 60%; height: 80%; position: absolute;top:-10%; left: 50%; transform: translate(-50%); color: white; text-align: justify;
                padding: 0 1rem; opacity: 0;}
            .palau_map .palau_map_right > .text_09 {width: 60%; height: 80%; position: absolute;top:-10%; left: 50%; transform: translate(-50%); color: white; text-align: justify;
                padding: 0 1rem; opacity: 0;}
            .palau_map .palau_map_right > .text_10 {width: 60%; height: 80%; position: absolute;top:-10%; left: 50%; transform: translate(-50%); color: white; text-align: justify;
                padding: 0 1rem; opacity: 0;}
            .palau_map .palau_map_right > .text_11 {width: 60%; height: 80%; position: absolute;top:-10%; left: 50%; transform: translate(-50%); color: white; text-align: justify;
                padding: 0 1rem; opacity: 0;}
            }
                    
                
            
        


        
        

        