@charset "UTF-8";

@media(max-width:767px){
    *{margin: 0 ; padding: 0; font-size: 8px; font-family: 'locus_sangsang';}
    ul,li,ol{list-style: none;}
    a{text-decoration: none;}

    #wrap {width: 100%;margin: 0 auto;}
    section {width: 90%; height: auto; margin: 120px auto; display: flex; flex-direction: row; justify-content: space-between }
   
     /*탑 슬라이드*/
     #topslide{height: auto;}
     #up{position: fixed; left: 6px; bottom: 0px; width: 60px; height: 60px; transition: all 0.5s ease; opacity: 0; visibility: hidden;}
     #up.on{opacity: 1; visibility: visible;}
     #up a{display: block; padding: 20px; text-align: center;text-decoration: none; color: #fff; z-index: 100;}

    /*왼쪽 섹션*/
    #left { width: 25%; height: auto; color: darkgray; background-color: #434343;}
        #left .nav {position: sticky; width: 90%;top:100px; margin:2rem 0.46rem; height: auto;}
        #left .nav > .logo > a > h1 {font-size: 1.5rem; line-height: 2rem; text-align: center; color: coral;}
        #left .nav > .logo > h2 {font-size: 0.6rem; line-height: 2rem; text-align: center; color: darkgray;}
        #left .nav > h3 {margin: 1rem 0; text-align:left; padding: 0.5rem; }
        #left .nav > h3:hover {color: coral;}
        #left .nav > h2 {text-align: center; color: coral; margin:2rem 0; padding: 0 0.5rem;}
        #left .nav .link_btn {text-align: center; padding: 0.5rem 0; border-radius: 5px; box-shadow: 5px 5px 20px rgba(92, 86, 85, 0.2);
            background-color: #ddd; margin: 0.5em; color: #434343;height: 2rem; line-height:1.8rem;}
        #left .nav .link_btn > a {color: #434343;}
        #left .nav .link_btn:hover {background-color: coral; color: white;} 
    }

    @media(min-width:768px){
        /*탑 슬라이드*/
    #topslide{height: auto;}
        #up{z-index: 200; position: fixed; right: 16px; bottom: 20px; width: 60px; height: 60px; transition: all 0.5s ease; opacity: 0; visibility: hidden;}
        #up.on{opacity: 1; visibility: visible;}
        #up a{display: block; padding: 20px; text-align: center;text-decoration: none; color: #fff; z-index: 100;}

    /*왼쪽 섹션*/
    #left {margin: 0 auto; width: 25%; height: auto; color: darkgray; background-color: #434343;}
        #left .nav {position: sticky; width: 90%;top:100px;margin:2rem 0.8rem ; height: auto; margin-bottom: 3rem;}
        #left .nav > .logo > a > h1 {font-size: 2rem; line-height: 3rem; text-align: center; color: coral;}
        #left .nav > .logo > h2 {font-size: 1.5rem; line-height: 3rem; text-align: center; color: darkgray;}
        #left .nav > h3 {text-align: left; margin:2rem 0; padding: 0 0.5rem; }
        #left .nav > h3:hover {color: coral;}
        #left .nav > h2 {text-align: center; color: coral; margin:2rem 0;}
        #left .nav .link_btn {text-align: center; padding: 0.5rem; border-radius: 5px; box-shadow: 5px 5px 20px rgba(92, 86, 85, 0.2);
            background-color: #ddd; margin: 0.5em; color: #434343;height: 2rem; line-height: 2rem;}
        #left .nav .link_btn > a {color: #434343;}
        #left .nav .link_btn:hover {background-color: coral; color: white;} 
    }

    @media(min-width:1200px){
        /*왼쪽 섹션*/
    #left {margin: 0 auto; width: 25%; height: auto; color: darkgray; background-color: #434343;}
        #left .nav {position: sticky; width: 90%;top:100px; margin: 2rem auto; height: auto; margin-bottom: 3rem;}
        #left .nav > .logo > h1 {font-size: 3rem; line-height: 3rem; text-align: center; color: coral;}
        #left .nav > .logo > h2 {font-size: 1.5rem; line-height: 3rem; text-align: center; color: darkgray;}
        #left .nav > h3 {letter-spacing: 1px ; margin: 1rem 0; text-align: left; margin-bottom: 2rem; padding:0 2rem; color: darkgray}
        #left .nav > h3:hover {color: coral;}
        #left .nav > h2 {text-align: center; color: coral; margin:2rem 0;}
        #left .nav .link_btn {text-align: center; padding: 0.5rem; border-radius: 5px; box-shadow: 5px 5px 20px rgba(92, 86, 85, 0.2);
            background-color: #ddd; margin: 0.5em 2rem; color: #434343; height: 2rem; line-height: 2rem;}
        #left .nav .link_btn > a {color: #434343;}
        #left .nav .link_btn:hover {background-color: coral; color: white;} 
    }